<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <buildConfig>Debug</buildConfig>
  <projectFile>D:\SeqkartnewHar\WindowsFormsApplication1\WindowsFormsApplication1.csproj</projectFile>
  <product>SEQKART - ERP</product>
  <publisher>CREATIVE LINE INTERNATIONAL PVT. LTD.</publisher>
  <version>1.0.0.0</version>
  <entryPoint>SEQKART-ERP.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>false</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <signPackageEnabled>false</signPackageEnabled>
  <savePassword>false</savePassword>
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <deploymentTargets>
    <rootUrl />
    <destinationFolder>D:\SeqkartnewHar\WindowsFormsApplication1\simplDeploy</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>