<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="20.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.ru" version="20.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="20.2.3" targetFramework="net472" />
  <package id="DevExpress.Xpo.ru" version="20.2.3" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.0" targetFramework="net472" developmentDependency="true" />
</packages>