<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="20.1.6" targetFramework="net472" />
  <package id="DevExpress.Data.es" version="20.1.6" targetFramework="net472" />
  <package id="DevExpress.Data.ru" version="20.1.6" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="20.1.6" targetFramework="net472" />
  <package id="DevExpress.Xpo.es" version="20.1.6" targetFramework="net472" />
  <package id="DevExpress.Xpo.ru" version="20.1.6" targetFramework="net472" />
</packages>